<div class="card" style="border-bottom-width: 0px;" ng-cloak> 
	<!--<div class="card-header" style="background-color: black; font-weight:bold; color: whitesmoke; padding-left: 10px; padding-top: 5px; width: 100%; height: 50px;">
	</div>-->
	<div class="modal-header" style="background-color: black; font-weight:bold; color: whitesmoke;">
    	<button type="button" class="close" ng-click="close()"><span class="btn btn-danger">&times;</span></button>
    	<h4 class="modal-title" style="text-align: center;">About Candidate-Tracker</h4>
    </div>
	<div class="card-block">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<img src="/images/dev.jpg" class="img-avatar" style="width: 100%; height: 100%;"/>
				</div>
				<div class="col-md-6">
					<p style="font-weight: bold;">Name: Candidate-Tracker Application</p>
					<p style="font-weight: bold;">Developer: Tanmoy Chaudhury</p>
					<p style="font-weight: bold;">Build: Build in Bangalore</p>
					<p style="font-weight: bold;">Year: 2017</p>
					<p style="font-weight: bold;">Version: 1.0</p>
					<p style="font-weight: bold;">Description: Candidate-Tracker is simple and user-friendly web
					application used for storing and show-casing candidate details</p>
				</div>
			</div>		
		</div>
	</div>
</div>